
h3{
 font-family: sans-serif;
 font-size: 16px;
 }
.boton {
padding: 10px 15px;
background-color: #e5a4cb;
border: 3px solid #ebd2be;
font-size: 16px;
font-family: sans-serif;
color: #000;
line-height: 1;
border-radius: 5px;
outline: none;
cursor: pointer;
transition: 0.3s;
}